@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

#h3{
    margin-left: 33%;
    font-size: 2.7em;
    margin-top: 30px;
}
// .development{
//     display: flex;
// }
#for{
  margin-left: 20%;
}
#dp{
    margin-left: 23%;
}
#after{
    margin-left: 29%;
}
#before{
    margin-left: 30%;
}
.process{
    display: flex;
    margin-top: 30px;
    gap: 50px;
    :hover{
        transform: translate(0,-10%);
    }
}
.fa-solid{
    margin-left: 30%;
    margin-bottom: 15px;
    // border: 2px solid rgb(20, 1, 24);
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(248, 182, 237);
    border-radius: 5px;
}
.h5{
    margin-left: 30%;
    font-size: 1.2em;
}
.h6{
    margin-left: 25%;
    font-size: 1.2em;
}
.h7{
    margin-left: 30%;
    font-size: 1.2em;
}
.h8{
    margin-left: 10%;
    font-size: 1.2em;
}
.steps{
border: 2px solid rgb(124, 23, 111) ;
padding: 30px;
border-radius: 30px;
}
.develop{
    margin-bottom: 45px;
}
@media screen and (max-width:600px){
    // .process{
    //     flex-direction: column;
        
    // }
    .process{
        gap: 20px;
    }
    #h3{
        font-size: 1.5em;
        margin-left: 20%;
    }
    #for{
        margin-left: 3%;
      }
      #dp{
          margin-left: 3%;
      }
      #after{
          margin-left: 3%;
      }
      #before{
          margin-left: 3%;
      }
      .steps{
        border: 2px solid rgb(124, 23, 111) ;
        padding: 20px;
        padding-left: -10%;
        width:30%;
        border-radius: 30px;
        }
        .h5{
            margin-left: 3%;
            font-size: 1.0em;
        }
        .h6{
            margin-left: 1%;
            font-size: 1.0em;
        }
        .h7{
            margin-left: 3%;
            font-size: 1.0em;
        }
        .h8{
            margin-left: 10%;
            font-size: 1.2em;
        }
        .research{
            display: none;
        }
}