@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.services{
    display: flex;
    gap: 50px;
    // margin-left: 20%;
    // justify-content: center;
    margin-left: 10%;
    margin-top: 50px;
}
#service{
    padding: 50px;
    border: 2px solid  rgb(124, 23, 111);
    border-radius: 5px;
}
#services{
    margin-left: 42%;
    margin-top: 30px;
    font-size: 2.0em;
}
#i{
margin-left: 35%;
}
#that{
    margin-left: 37%;
}
@media screen and (max-width:600px){
    .services{
        flex-direction: column;
        display: none;
    }
    #services{
        margin-left: 30%;
        margin-top: 30px;
        font-size: 1.5em;
    }
    #i{
    margin-left: 2%;
    }
    #that{
        margin-left: 2%;
    }
    
}