@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.projects{
    display: flex;
    gap: 250px;
    margin-left: 10%;
    margin-top: 50px;
    z-index: 3;
    
}
.index{
    margin-left: 39%;
    margin-top: 30px;
}
.sample{
    margin-left: 25%;
    margin-top: -35px;
    z-index: -1;
    font-size: 3.0em;
    color: rgb(106, 119, 131);
}
.project{
    h3{
        margin-top: 15px;
        margin-left: 10%;
    }
}
#bid{
    margin-left: 25%;
}
#dish{
    margin-left: 22%;
}