@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.projects{
    display: flex;
    gap: 250px;
    margin-left: 10%;
    margin-top: 50px;
    // z-index: 3;
    
}
.index{
    // margin-left: 30%;
    // margin-top: 30px;
    position: absolute;
    padding-top: 15px;
    margin-top: 10px;
    text-align: center;
    // top: 50%;
    left: 45%;
    font-weight: bolder;
    font-size: 25px;
}
.sample{
    // margin-left: 20%;
    // margin-top: -35px;
    z-index: -1;
    font-size: 3.0em;
    color: rgb(201, 204, 207);
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
.project{
    h3{
        margin-top: 15px;
        margin-left: 10%;
    }
}
#bid{
    margin-left: 25%;
}
#dish{
    margin-left: 22%;
}