@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

nav{
    display: flex;
    gap: 30%;
    // position: fixed;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 2px solid rgb(124, 23, 111);
}

.nav-center{
    gap: 50px;
   ul{
    display: flex;
    gap: 50px;
    li{
        font-size: 1.7em;
        margin-top: 20px;
        a{
            color: black;
            &:hover{
                color: rgb(124, 23, 111) ;
            }
        }
    }
   }
}
.nav-right{
    border-left: 2px solid gray
    height 2vh;
    ul{
        display: flex;

    }
}
.bars{
    // margin-left: 30%;
    display: none;
}
@media  screen and (max-width: 600px) {
    nav{
        .logo-word{
            display: inline-block;
        }
        .nav-center{
           display: none; 
        }
        .nav-right{
            display: none;
        }
        .bars{
            margin-left: 30%;
            display: inline-block;
        }
    }
}